*{
    text-decoration: none;
    list-style: none;
}
header{
    background-color: black;
}
.nav{
    max-width: 1px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.button{
    padding: 6px 24px;
    border: 2px rgb(167, 6, 105);
    background: rgb(167, 6, 105);
    border-radius:6px ;
    cursor: pointer;
}
.button:active{
    transform: scale(0.98);
}
.drop{
    opacity: 0;
    pointer-events: none;
}
.h.show .drop{
    opacity: 1;
    pointer-events: auto;
}
.h::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: gainsboro;
    filter: blur(8px);
    -webkit-filter: blur(8px);  
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-out;
}
.h.show::before{
    opacity: 1;
    pointer-events: auto;
}

    